<h1>aer errtrtre tter ertert</h1>


<div class="clear"></div>
<div class="grid_12" id="category_frame">
<% @categories.each do |category| %>
  <%= link_to category.name, category %>
  <%#= category.name%>
  <% end %>
</div>

<div class="clear"></div>
<div class="grid_12" id="main_list">
  <% @promotions.each do |promotion| %>
    <div class="element_list">

      <div class="list_text">
        <%= promotion.category.name%>. <%= promotion.title %> <%= promotion.costs %> 
      </div>
      <div class="buy_it">
        <%= link_to 'More', promotion %>
      </div>
    </div>
  <% end %>
</div>