<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>
<% if user_signed_in? %>
  <% if current_user.role=="admin" %>
    <p>
      <b>Region:</b>
      <%= @category.region_id %>
    </p>

    <p>
      <b>Is avtive:</b>
      <%= @category.is_avtive %>
    </p>

    <p>
      <b>Is delete:</b>
      <%= @category.is_delete %>
    </p>

    <p>
      <b>Who delete:</b>
      <%= @category.who_delete %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<hr>

<div class="clear"></div>
<div class="grid_12" id="main_list">
  <% @category.promotion.each do |promotion| %>
    <div class="element_list">

      <div class="list_text">
        <%= promotion.title %> <%= promotion.costs %> 
      </div>
      <div class="buy_it">
        <%= link_to 'More', promotion %>
      </div>
    </div>
  <% end %>
</div>