<h1>Listing promotions</h1>
<table>
  <tr>
    <th>Категория</th>
    <th>Начало акции</th>
    <th>окончание акции</th>
    <th>название</th>
    <th>Стоимость</th>
    <th>Осталось</th>
    <th></th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%= promotion.category.name %></td>
    <td><%= promotion.start_action %></td>
    <td><%= promotion.stop_action %></td>
    <td><%= promotion.title %></td>
    <td><%= promotion.costs %></td>
    <td><%= promotion.left %></td>
    <td><%= link_to 'Подробнее', promotion %></td>
  </tr>
<% end %>
</table>

<br />

