<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_region %><br />
    <%= f.text_field :name_region %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :is_delete %><br />
    <%= f.check_box :is_delete %>
  </div>
  <div class="field">
    <%= f.label :who_delete %><br />
    <%= f.text_field :who_delete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
